@font-face {
    font-family: 'SmileySans';
    src: url('./SmileySans-Oblique.ttf');
    font-weight: normal;
    font-style: normal;
}
/* 思源宋体 */
@font-face {
    font-family: 'SiYuanSongTi';
    src: url(./SiYuanSongTi.otf);
    font-weight: normal;
    font-style: normal;
}